@import "variables";
.default-fresh-class {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.notched-borders {
  $notch-size: 15px;
  background-color: transparent;

  &::before {
    content: "";
    background-color: $primary;
    width: $notch-size;
    height: $notch-size;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0px 0px, 0px $notch-size, $notch-size 0px);
  }
}
