:root {
  font-family: "Blender Pro Medium";
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "COMEBREAK";
  src: url("../assets/fonts/COMEBREAK.ttf");
}

@font-face {
  font-family: "rysen";
  src: url("../assets/fonts/Ryzes-ax92x.ttf");
}

@font-face {
  font-family: "GlitchRobot";
  src: url("../assets/fonts/Sdglitchrobotdemo-GOPdO.ttf");
}

@font-face {
  font-family: "BlenderPro";
  src: url("../assets/fonts/fonnts.com-Blender_Pro_Medium.ttf");
}

@font-face {
  font-family: "BlenderProBold";
  src: url("../assets/fonts/fonnts.com-Blender_Pro_Bold.ttf");
}

@font-face {
  font-family: "BlenderProHeavy";
  src: url("../assets/fonts/fonnts.com-Blender_Pro_Heavy.ttf");
}

@font-face {
  font-family: "BlenderProThin";
  src: url("../assets/fonts/fonnts.com-Blender_Pro_Thin.ttf");
}

@font-face {
  font-family: "NotoEnglish";
  src: url("../assets/fonts/NotoEnglish.ttf");
}

@font-face {
  font-family: "NotoJP";
  src: url("../assets/fonts/NotoJP.ttf");
}

@font-face {
  font-family: "NotoBengali";
  src: url("../assets/fonts/NotoBengali.ttf");
}
