$primary: yellow;
$primary-text-color: black;

// Navbar
$navigation-height: 2rem;
$navigation-right: 20px;
$navigation-border: 1px solid $primary;
$navigation-ul-padding: 0 0 0 1.25rem;
$navigation-li-padding: 0px 0.5rem;
$navigation-li-hover-color: $primary;
$navigation-text-color: $primary-text-color;
$navigation-font-family: "BlenderPro";
$navigation-font-family-bold: "BlenderProBold";
