$primary: yellow;
$primary-text-color: black;

// Toolbar
$toolbar-height: 2rem;
$toolbar-right: 20px;
$toolbar-border: 1px solid $primary;
$toolbar-ul-padding: 0 0 0 1.25rem;
$toolbar-li-padding: 0px 0.5rem;
$toolbar-li-hover-color: $primary;
$toolbar-text-color: $primary-text-color;
$toolbar-font-family: "BlenderPro-Bold";
