@import "../../styles/mixins";
@import "../../styles/variables";

.toolbar {
  width: fit-content;
  height: $toolbar-height !important;
  position: fixed;
  right: $toolbar-right;
  border: $toolbar-border;
  @extend .notched-borders;

  ul {
    @extend .default-fresh-class;
    list-style-type: none;
    display: flex;
    padding: $toolbar-ul-padding;
    justify-content: flex-end;
    height: 100%;

    li {
      user-select: none;
      cursor: pointer;
      text-transform: uppercase;
      font-size: large;
      display: flex;
      align-items: center;
      height: 100%;
      padding: $toolbar-li-padding;

      &:last-child {
        background-color: $toolbar-li-hover-color;
        color: $toolbar-text-color;
        font-family: $toolbar-font-family;
      }

      &:hover {
        background-color: $toolbar-li-hover-color;
        color: $toolbar-text-color;
      }
    }
  }
}
