@import "../../styles/mixins";
@import "../../styles/variables";
$neon-border-size: 1px;

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  position: fixed;


  h1 {
    color: transparent;
    font-size: 3rem;
    margin: 0px;
    letter-spacing: 0.5rem;
    word-spacing: 1rem;
    font-family: "rysen";
    animation: neonize 5s ease-in-out infinite alternate;
    text-shadow: 
    0 0 $neon-border-size white, 
    0 0 calc($neon-border-size + 1px) white,
    0 0 calc($neon-border-size + 5px) yellow,
    0 0 calc($neon-border-size + 10px) yellow,
    0 0 calc($neon-border-size + 15px) yellow,
    0 0 calc($neon-border-size + 20px) yellow;
  }
}

@mixin neon-shadow {
  text-shadow: 
  0 0 calc($neon-border-size + 1px) white,
  0 0 calc($neon-border-size + 3px) white,
  0 0 calc($neon-border-size + 6px) yellow,
  0 0 calc($neon-border-size + 25px) yellow,  
  0 0 calc($neon-border-size + 15px) yellow,
  0 0 calc($neon-border-size + 22px) yellow;
}

@keyframes neonize {
  48% {
    @include neon-shadow;
  }
  49% {
    text-shadow: none;
  }
  50% {
    @include neon-shadow;
  }
  51% {
    text-shadow: none;
  }
  52% {
    @include neon-shadow;
  }
}

.navigation {
  font-family: $navigation-font-family;
  width: fit-content;
  height: $navigation-height !important;
  position: fixed;
  right: $navigation-right;
  border: $navigation-border;
  @extend .notched-borders;

  ul {
    @extend .default-fresh-class;
    list-style-type: none;
    display: flex;
    padding: $navigation-ul-padding;
    justify-content: flex-end;
    height: 100%;

    li {
      user-select: none;
      cursor: pointer;
      text-transform: uppercase;
      font-size: large;
      display: flex;
      align-items: center;
      height: 100%;
      padding: $navigation-li-padding;

      &:last-child {
        background-color: $navigation-li-hover-color;
        color: $navigation-text-color;
        font-family: $navigation-font-family-bold;
      }

      &:hover {
        background-color: $navigation-li-hover-color;
        color: $navigation-text-color;
      }
    }
  }
}
